@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "My Account";
}
<script>
    function myFunction(obj) {
        var x = document.getElementById(obj);
        var sellProd = document.getElementById('divSellProd');
        var experts = document.getElementById('divExperts');
        var dropBox = document.getElementById('divDropBox');

        sellProd.style.display = "none";
        experts.style.display = "none";
        dropBox.style.display = "none";


        x.style.display = "block";

        //if (x.style.display === "none") {
        //    x.style.display = "block";
        //} else {
        //    x.style.display = "none";
        //}
    }
</script>
<div id="MyAccount">

    <table align="center" width="90%">

        <tr>
            <td width="25%" style="vertical-align:top">
                <table width="100%" class="tableBorderClass">
                    <tbody>
                        <tr><td class="tabletdBorderClass" style="background-color:green;color:white;padding-left:30px;"> <b>MyAccount</b></td></tr>
                        <tr><td class="tabletdBorderClass"> <a href="#" class="nav-link text-dark" onclick="javaScript:myFunction('divSellProd')">My Products</a></td></tr>
                        <tr><td class="tabletdBorderClass"> <a href="#" class="nav-link text-dark" onclick="javaScript:myFunction('divExperts')">Find Experts</a></td></tr>
                        <tr><td class="tabletdBorderClass"> <a href="#" class="nav-link text-dark" onclick="javaScript:myFunction('divDropBox')">Dropbox</a></td></tr>
                        <tr><td class="tabletdBorderClass"> <a href="#" class="nav-link text-dark">Profile</a></td></tr>
                        <tr><td class="tabletdBorderClass"> <a href="#" class="nav-link text-dark">Change password</a></td></tr>
                    </tbody>
                </table>
            </td>
            <td width="75%">
                <div id="divSellProd" style="display:inline-block;position:relative;">
                    <table width="90%" align="center" class="tableBorderClass">
                        <tbody>
                            <tr><td class="tabletdBorderClass" style="background-color:green;color:white;padding-left:30px;"><b>My Products</b></td></tr>
                            <tr>
                                <td class="tabletdBorderClass">
                                    <span>
                                        <img src="~/images/Maize.gif" height="100px" width="100px" style="float: left" />
                                        We procure a healthy range of Corn Seeds, which is widely used for both animal as well as human consumption all over the world.
                                        We offer to buy from reputed vendors, who make use of latest methodologies;
                                        these range of Corn Seeds which has high nutritional value and freshness is widely appreciated for buying.
                                    </span>
                                    <p>Weight: 500 KG</p>
                                    <p>Price: &#8377; 2000</p>
                                </td>
                            </tr>
                            <tr>
                                <td class="tabletdBorderClass">
                                    <img src="~/images/Okra.gif" height="100px" width="100px" style="float: left" />
                                    Color: Dark Green<br />
                                    Maturity: 45 to 50 days<br />
                                    Length of Fruit: 12 to 15 cm<br />
                                    Extra Description: Very high yielding tolerant to yellow vein mosaic virus.
                                    <p>Weight: 100 KG</p>
                                    <p>Price: &#8377; 4000</p>
                                </td>
                            </tr>
                            <tr>
                                <td class="tabletdBorderClass">
                                    <img src="~/images/Grapes.gif" height="100px" width="100px" style="float: left" />
                                    Thompson Seedless is most cultivated variety in India and Nashik produces 70 to 80% of it.
                                    <p>Weight: 50 KG</p>
                                    <p>Price: &#8377; 4000</p>
                                </td>
                            </tr>
                        </tbody>

                    </table>
                </div>

                <div id="divExperts" style="display:inline-block;position:relative; top:-50px">
                    <table width="90%" align="center" class="tableBorderClass">
                        <tbody>
                            <tr><td class="tabletdBorderClass" style="background-color:green;color:white;padding-left:30px;"><b>Find Experts</b></td></tr>
                            <tr>
                                <td class="tabletdBorderClass">
                                    <img src="~/images/Organic Expert.gif" height="100px" width="100px" style="float: left" />
                                    I am having 10 years in of experience in organic farming.I and my team are expert in growing organic vegitables.
                                    Currently we are opreation in Begusarai, Bihar......<a href="#">more>></a>


                                </td>
                            </tr>
                            <tr>
                                <td class="tabletdBorderClass">
                                    <img src="~/images/Organic Expert.gif" height="100px" width="100px" style="float: left" />
                                    I am having 10 years in of experience in organic farming.I and my team are expert in growing organic vegitables.
                                    Currently we are opreation in Begusarai, Bihar......
                                    <a href="#">more>></a>
                                </td>
                            </tr>

                        </tbody>

                    </table>
                </div>

                <div id="divDropBox" style="display:inline-block;position:relative; top:-13px">
                    <table width="90%" align="center" class="tableBorderClass">
                        <tbody>
                            <tr><td class="tabletdBorderClass" style="background-color:green;color:white;padding-left:30px;"><b>Drop box</b></td></tr>
                            <tr>
                                <td class="tabletdBorderClass">
                                    <iframe width="100%" height="300px" frameborder="0" src="https://image-classify-roiue-cc-uc-other-industrial-oracle-team-c.container-crush-02-4044f3a4e314f4bcb433696c70d13be9-0000.eu-de.containers.appdomain.cloud/"></iframe>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                </div>
            </td>
        </tr>



    </table>

</div>