@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="~/images/Organic_Farming.GIF" />
    <p>KalpTree help organic farmer to connect with organic farming expert, buyer, and amateur farmer. It will help them to get solution to their problem quick and easy. Farmers can sell the crops/product as wholesaler. </p>
</div>
