@model SignUpViewModel

@{
    ViewBag.Title = "Sign Up";
    //var image = Model.farmer;
}


    
    <script type="text/javascript">
        $(document).ready(function ReloadCaptchaCode() {
            $("#submit").click(function (e) {
                var url = "/get-captcha-image/";
                        var imag = document.getElementById('img-captcha');
                        imag.src = url;//"~/get-captcha-image";
                
            })
        })

        
    </script>

<div id="SignUp">
    @if (string.IsNullOrWhiteSpace(ViewBag.UserType))
    {
        <table align="center" class="tableBorderClass">
            <tbody>
                <tr>
                    <td class="tabletdBorderClass">
                        <a href="/Signup/Signup?userType=farmer"><img src="~/images/farmer.png" alt="Farmer" title="Farmer" /></a>
                        <p align="center">Farmer</p>
                    </td>
                    <td class="tabletdBorderClass">
                        <a href="/Signup/Signup?userType=Expert"><img src="~/images/Expert.png" alt="Expert" title="Expert" /></a>
                        <p align="center">Expert</p>
                    </td>
                </tr>

                <tr>
                    <td class="tabletdBorderClass">
                        <a href="/Signup/Signup?userType=Buyer"><img src="~/images/Buyer.png" alt="Buyer" title="Buyer" /></a>
                        <p align="center">Buyer</p>
                    </td>
                    <td class="tabletdBorderClass">
                        <a href="/Signup/Signup?userType=Ameteur farmer"><img src="~/images/AmeteurFarmer.png" alt="Ameteur" title="Ameteur" /></a>
                        <p align="center">Ameteur Farmer</p>
                    </td>
                </tr>
            </tbody>
        </table>
    }
    else
    {
        <table style="width:70%;margin-left:15%;margin-right:15%;padding:5px;">
            <tr>
                @if (string.IsNullOrWhiteSpace(ViewBag.SuccessCode))
                {
                    <td width="50%">
                        <form method="post">
                            <table width="100%">
                                <tr>
                                    <td width="50%">
                                        <div asp-validation-summary="All" class="text-danger"></div>
                                        <table width="100%">
                                            <tr>
                                                <td colspan="2"><h1><strong>Sign up</strong> </h1></td>

                                            </tr>
                                            <tr class="tr">
                                                <td>Email</td>
                                                <td>
                                                    <input asp-for="userlogonid" class="form-control" onclick="javaScript:CaptchaImg()" />
                                                    @*<span asp-validation-for="userlogonid" class="text-danger"></span>*@
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Password</td>
                                                <td>
                                                    <input asp-for="Password" class="form-control" />
                                                    @* <span asp-validation-for="password" class="text-danger"></span>*@
                                                </td>
                                            </tr>
                                            <tr class="tr">
                                                <td>Confirm Password</td>
                                                <td>
                                                    <input asp-for="confirmpassword" class="form-control" />
                                                    @* <span asp-validation-for="password" class="text-danger"></span>*@
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>First Name</td>
                                                <td>
                                                    <input asp-for="userfname" class="form-control" />
                                                    @*<span asp-validation-for="userfname" class="text-danger"></span>*@
                                                </td>
                                            </tr>
                                            <tr class="tr">
                                                <td>Last name</td>
                                                <td>
                                                    <input asp-for="userlname" class="form-control" />
                                                    @*<span asp-validation-for="userlname" class="text-danger"></span>*@
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>User Type</td>
                                                <td>
                                                    <select class="form-control" id="userrole" name="Userrole" style="width:210px">

                                                        @if (ViewBag.UserType == "Farmer")
                                                        {
                                                            <option selected>Farmer</option>}
                                                        else
                                                        {
                                                            <option>Farmer</option>}
                                                        @if (ViewBag.UserType == "Expert")
                                                        {
                                                            <option selected>Expert</option>}
                                                        else
                                                        {
                                                            <option>Expert</option>}
                                                        @if (ViewBag.UserType == "Buyer")
                                                        {
                                                            <option selected>Buyer</option> }
                                                        else
                                                        {
                                                            <option>Buyer</option>}
                                                        @if (ViewBag.UserType == "Ameteur farmer")
                                                        {
                                                            <option selected>Ameteur farmer</option> }
                                                        else
                                                        {
                                                            <option>Ameteur farmer</option>}
                                                    </select>

                                                </td>
                                            </tr>
                                            <tr class="tr">
                                                <td></td>
                                                <td>

                                                    <div class="input-group-prepend">

                                                        <img id="img-captcha" src="~/get-captcha-image" width="150px" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                        <a href="#" id="submit" onclick="javascript:ReloadCaptchaCode();"><img src="~/images/refresh.png" height="20px" width="20px" /></a>
                                                    </div>

                                                    <input type="text" class="form-control" asp-for="CaptchaCode" maxlength="4" />
                                                    @*<span asp-validation-for="CaptchaCode" class="text-danger"></span>*@
                                                </td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td> <button type="submit" class="btn btn-primary">Sign up</button></td>
                                            </tr>
                                        </table>
                                    </td>

                                </tr>
                            </table>


                        </form>
                    </td>
                }
                    <td width="50%">
                        <br />
                        @if (ViewBag.SuccessCode == "1")
                        {
                            <span style="color:green;text-align:center;">
                                <h2>Congratulation</h2><br /><h3>User created successfully!!!</h3>
                                <br /><h4> Please use you email and password to access your account </h4>
                            </span>
                        }
                        else if (ViewBag.SuccessCode == "0")
                        {
                            <h2 style="color:red;text-align:center;">Error</h2><br /><h3 style="color:red;text-align:center;">Please try again</h3>
                        }
                    </td>
                </tr>
        </table>
    }

</div>
