@model SignUpViewModel

@{
    ViewBag.Title = "Sign Up";
    //var image = Model.farmer;
}
<style>
    table {
        border-collapse: collapse;
        border-style: hidden;
    }

        table td {
            border: 1px solid black;
           padding:16px;
        }
</style>
<div id="SignUp">
    
    <table align="center">
        <tbody>
            <tr >
                <td ><a href=""><img src="~/images/farmer.png" alt="Farmer" title="Farmer" /></a></td>
                <td ><a href=""><img src="~/images/Expert.png" alt="Expert" title="Expert" /></a></td>
            </tr>
            <tr>
                <td  ><a href=""><img src="~/images/Buyer.png" alt="Buyer" title="Buyer" /></a></td>
                <td  ><a href=""><img src="~/images/AmeteurFarmer.png" alt="Ameteur" title="Ameteur" /></a></td>
            </tr>
        </tbody>
    </table>
</div>
